ID=cs2server1               # unique ID for this server, used for mount folders
HOSTNAME=cs2server
GSLT=""                     # https://steamcommunity.com/dev/managegameservers
IP=0.0.0.0
IP_DOMAIN=somedomain.com
PORT=27015
RCON_PASSWORD=changeme
REGION=EU                   # server region code (EU, NA)
DB_NAME=cs2server1          # database name for this server
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
MAPTEST=false               # enable map testing mode (true/false)
WHITELIST=false             # enable whitelist-only mode (true/false)
CS2KZ_APIKEY=0              # cs2kz apikey
SB_SERVER_ID=-1             # sourcebans server id (cs2admin ServerID)
RESTART_TIME=03:00          # Daily restart time in HH:MM format (24-hour) (optional)
