services:
  cs2watchdog:
    image: cs2watchdog
    container_name: cs2watchdog
    restart: unless-stopped
    user: 1000:1000 # Change to your actual user ID and group ID
    tty: true
    stdin_open: true
    volumes:
      - ./watchdog:/watchdog
  cs2server1:
    image: cs2server
    container_name: cs2server1
    restart: unless-stopped
    user: 1000:1000 # Change to your actual user ID and group ID
    tty: true
    stdin_open: true
    logging:
      driver: json-file
      options:
        max-file: "3"
    network_mode: host
    env_file:
      - .env.global
      - .env.example # Change to your actual env file
    volumes:
      - ./watchdog:/watchdog
      - ./layers:/layers
      - ./mounts:/mounts
      - ./user:/user:ro
